
.user-list-item {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 2rem;
    border-radius: 5px;
    max-width: 93%;
    box-sizing: border-box;
    margin: auto auto 1rem;
    justify-content: center!important;
}

.user-search-container {
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    max-width: 50%;
    box-sizing: border-box;
}

/* Responsive styles */
@media (max-width: 768px) {
    .user-search-container {
        margin: auto;
        padding: 10px;
    }

    .user-list-item {
        padding: 5px;
    }
}

@media (max-width: 480px) {
    .user-search-container {
        margin: auto;
        padding: 5px;
    }

    .user-list-item {
        padding: 2px;
    }
}